*{
    font-family: 'Black And White Picture', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color:#000;

}

h1{
    font-size: 48px;
    font-weight: 100;
    text-align: top;
}

.contents1 {
    font-size: 20px;
    font-weight: lighter;
}
.contents1_bold {
    font-size: 18px;
    font-weight: bold;
}
.contents3 {
    font-size: 14px;
    font-weight: 100;
}
.result {
    font-size: 24px;
    font-weight: lighter;
}
.intro_bg {
    background-image: url("images/intro.png");
    width:100%;
    height: 778px;
    background-size: 100%;
    animation: ani_move 10s infinite;
}

@keyframes ani_move {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 0;
    }

}
.header {
    display:flex ;
    width: 1280px;
    margin: auto;
    height: 86px;
}

.search_area{
    width:300px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 24px;
}

.search_area > form > input {
    border: none;
    width: 250px;
    height: 40px;
    background:rgba(0,0,0,0.0);
    color: #fff;
    padding-left: 10px;

}

.search_area > form > span {
    width: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

}
.nav{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 300px);
}

.nav>li{
    margin-left: 84px;
}

.nav > li > a {
    color: #fff;
}

.intro_text {
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;
}

.intro_text > h1,
.intro_text > h4{
    color: #fff;
   
}

.amount{
    position: relative;
    top:-66px;
    display: flex;
    width: 1280px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    margin: auto;
}

.amount > li >div {
    text-align: center;
    margin-top: 37px;
    height: 57px;
}

.amount > li:not(:last-child) > div {
    border-right: 1px solid gray;
}

.amount > li {
    flex: 1;
    height: 132px;
}

/*main_text0 */

.main_text0{
    width: 100%;
    height: 470px;
    margin-top: -132px;
    background-color: #f1f2f3;
}
.main_text0 > h1 {
    margin-top: 116px;
    text-align: center;
   
}
.main_text0 > .contents1 {
    text-align: center;
}

.icons {
    display: flex;
    width: 1280px;
    height: 302px;
   
    margin: auto;
}

.icons > li {
    flex : 1;
    background: #fff;
    margin-top: 49px;
    height: 302px;
    text-align: center;
}
.icons > li > .icon_img1 {
    margin-top: 18px;
}
.icons > li:not(:last-child){
    margin-right: 20px;
}
.icons .contents2 {
    width: 180px;
    margin: auto;
    letter-spacing: -2px;
}
.more{
    width: 100px;
    height: 30px;
    background: #2f7af4;
    color: #fff;
    margin: 25px auto;
    font-size: 12px;
    line-height: 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

/*main_text1*/
.main_text1 {
    width: 100%;
    height: 659px;
}
.main_text1 > h1 {
    padding-top: 50px;
    text-align: center;
}
.main_text1 > .contents1 {
    text-align: center;
}

.service {
    width: 1280px;
    display: flex;
    margin: 49px auto;
    height: 427px;
 
}

.img2 {
    width: auto;
    height: auto;
    max-width: 990px;
    max-height: 427px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.service > .contents2 {
    padding: 20px;
}

.service > .contents2 > h2{
    margin-bottom: 27px;
}

/*main_text1* end*/

.main_text2 {
    width: 1921px;
    height: 418px;
    background-image: url("images/contact.png");
    background-size: cover;
    margin: auto;
}

.main_text2 > ul{
    display: flex;
    padding-top: 138px;
}

.main_text2 > ul > li {
    flex: 1;
    text-align: center;
    
}

.main_text2 > ul > li > div > h1,
.main_text2 > ul > li > div {
    color: #fff;
}

.more2 {
    width: 220px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    line-height: 40px;
    margin: 16px auto;
}

footer {
    width: auto;
    height: auto;
    display: flex;
    background: #1f1f1f;
    padding: 20px;
}

footer > div:first-child {
    flex: 3;
    text-align: center;
    color: #fff;
}

footer > div:last-child {
    flex: 9px;
    color: #fff;
}

